*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Navigation */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    padding: 5px 10px;
    font-size: 1.5rem;
    padding-bottom: 15px;
}

/* Home */

#home{
    height: 570px;
    padding: 0px 39px;
}

/* #home::before{
    width: 100%;
} */

#home p{
    font-size: 1.3rem;
}

/* Services */

#services-container h1{
    font-size: 3rem;
}

#services{
    flex-direction: column;
}

.services-container h1{
    font-size: 1.8rem;
}

#services p{
    font-size: 1.3rem;
}

#services .box{
    padding: 10px 10px;
}

#services .box img{
    height: 90px;
}

/* Clients */

#client-section::before{
    height: 100%;
}

#client-section h1{
    font-size: 3rem;
}

#client{
    flex-direction: column;
}

.client-item{
    padding: 10px 3px;
    margin: 30px 15px;
}

#client .client-item img{
    height: 100px;
}

/* Contact */

#contact h1{
    font-size: 3rem;
}

.contact-box{
    width: 80%;
    margin: 0px 25px;
}

/* Utility classes */
.h-primary{
    font-size: 1.8rem;
}

.h-secondary{
    font-size: 1.8rem;
}

.btn{
    padding: 5px 10px;
}